

 <div class="cards-container">
    <div class="card-img">
      <img class="card-img-top" src="{{imgUrl}}" alt="{{ name }}">
    </div>
    <div class="card-info">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">{{ description }}</p>
        <p class="card-loc">{{ location }}</p>
        <a href="/places/{{id}}/contact" class="btn">Contact</a>
    </div>
  </div>
    